<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head th:replace="common/header :: common-header"/>
<body roleId="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<head th:replace="common/header :: navbar"/>
<div class="container main">
    <div class="row">
        <div class="col-md-6">
            <form th:action="@{/transfer/betweenAccounts}" method="post">
                <div class="form-group">
                    <label for="transferFrom">1. Seleccione la cuenta desde la que transferir:</label>
                    <select class="form-control" th:value="${transferFrom}" name="transferFrom" id="transferFrom"
                            required="required">
                        <option disabled="disabled" selected="selected"> -- cuentas --</option>
                        <option value="Primary">Tarjeta</option>
                        <option value="Savings">Ahorros</option>
                    </select>
                    <br/>
                </div>

                <div class="form-group">
                    <label for="transferTo">2. Seleccione la cuenta a la que quiere transferir:</label>
                    <select class="form-control" th:value="${transferTo}" name="transferTo" id="transferTo"
                            required="required">
                        <option disabled="disabled" selected="selected"> -- cuentas --</option>
                        <option value="Primary">Tarjeta</option>
                        <option value="Savings">Ahorros</option>
                    </select>
                    <br/>
                </div>

                <div class="form-group">
                    <label>3. ¿Cuánto dinero desea transferir? </label>
                    <span class="input-group-addon">Cantidad €</span>
                    <input th:value="${amount}" type="text" name="amount" id="amount" class="form-control"
                           aria-label="Amount (to the nearest dollar)"/>
                </div>

                <input type="hidden"
                       name="${_csrf.parameterName}"
                       value="${_csrf.token}"/>

                <button class="btn btn-lg btn-primary btn-block" type="submit">Transferir</button>
            </form>

            <div class="col-md-6">
            </div>
        </div>
    </div>
</div>


<div th:replace="common/header :: body-bottom-scripts"/>

</body>
</html>
